

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewData["nombreUsuario"]</span>
        <img class="img-profile rounded-circle" src="@ViewData["urlFotoUsuario"]">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="userDropdown">
        <a class="dropdown-item" href="@Url.Action("PerfilUser", "Administracion")">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Perfil
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0);" onclick="confirmLogout();">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Cerrar Sesion
        </a>
    </div>
</li> 

<script>

    function confirmLogout() {
        Swal.fire({
            position: "top-end",
            title: '¿Estas seguro que desea cerrar sesión?',
            icon: 'warning',
            width: '400px',

            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
            customClass: {
                popup: 'swal-border'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                   
                window.location.href = '/Login/Salir';
            }
        });
    }
</script>
